#fold {
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;

	height:calc(100vh - 120px);

	padding-block:20px;

	background: url('../images/homepage-big.jpg') left center/cover fixed;
}

.bw-special-text-section h3 {
	line-height: 1.3 !important;
	max-width:800px;

	margin:10px auto;
}

.taxonomy-grid img {
	max-width:100%;
	height:300px;

	object-fit:cover;

	border-radius:15px;
	border:2px solid var(--primary-color);
	border-bottom-width:4px;
}

.taxonomy-grid a {
	font-size:15px;
}

main > * {
	padding-inline:calc((100vw - 1000px) / 2) !important;
}

main a {
	color:var(--secondary-color);
}

main a:hover {
	color:var(--secondary-hover);
}

main .card {
	overflow:hidden;

	max-width:450px;

	border:2px solid var(--primary-color);
	border-radius:18px;
}

main .card .card-title {
	font-size:25px;
}

@media(max-width:767px) {
	#fold {
		background:url('../images/homepage-small.jpg') center/cover;
	}

	.products-carousel .carousel-container > * {
		width:50vw !important;
	}
}

.show-on-scroll {
	opacity:0;

	transform:translateY(25px);

	transition:all 0.3s ease-in-out;
}

.show-on-scroll.show {
	transform:translateY(0px);
	opacity:1;
}

.product-btn:hover {
  background-color: #2f3b2d;
  color: #fff;
}

.products-carousel {
	margin-bottom:75px;
}

.products-carousel .carousel-container {
	display:flex;
	align-items: center;
	justify-content: flex-start;

	position:relative;

	transition:all 0.2s ease-in-out;
	left:0;
}

.products-carousel .carousel-container > * {
	width:20vw;

	margin-inline:5px;
}

.products-carousel .carousel-container > a {
	display:block;
}

.products-carousel .carousel-movement {
	position:absolute;

	bottom:-50px;
	width:200px;
	left:calc(50% - 100px);
}