* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body,
html {
  height: 100%;
  
  background-image: url(../images/subscribe-primary-desktop\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

.hero {
  height: 100%;
  /* font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif; */
  background-image: url(../images/subscribe-primary-desktop\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.login-card {
  position: relative;
  z-index: 2;
  width: 550px;
  height: 550px;
  /* max-width: calc(100% - 40px); */
  background: #ebebe366;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #162d20;
}

.login-card h1,
h2 {
  margin-bottom: 12px;
  color: #2d4133;
  font-weight:bold ;
}
.login-card input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: 1px solid;
  outline: none;
  color: #162d20;
  opacity: 50%;
}
.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: #2d4133;
  color: #fff;
  opacity: 75%;
  cursor: pointer;
}
.login-card button:hover {
  opacity: 100%;
}
.login-card p {
  margin-top: 15px;
}
.login-card p a {
  color: #162d20;
  text-decoration: none;
}

@media (max-height: 500px) {
  .hero {
    height: auto;
    padding: 40px 0;
  }
}
