/* container for prodact image  */
#product-details .col-md-6:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image */
#product-details img.img-fluid {
  width: 400px;
  height: 300px;
  background-color: #f4f6ee;
  border: 2px solid #1d3a24;
  border-radius: 18px;
  object-fit:cover;
  padding: 20px;
}


#product-details .col-md-6:last-child {
  padding: 20px 30px;
}

#product-details h2 {
  color: #2f3b2d;
  font-weight: 700;
  margin-bottom: 15px;
}

#product-details p {
  color: #555;
  margin-bottom: 10px;
  font-size: 15px;
}

#mainBtn {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #397146;
   border-radius: 15px;
     width: 170px;

}


@media (max-width: 768px) {
  #product-details img.img-fluid {
    width: 100%;
    height: auto;
  }

  #product-details .col-md-6 {
    text-align: center;
  }
}